<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>
      </ul>
      <!-- Center the search box -->
      <form class="d-flex mx-auto" role="search" style="max-width: 400px; width: 100%;" method="get" action="/listings/search">
        <input class="form-control me-2" type="text" placeholder="Search by country.." aria-label="Search" name="query">
        <button class="btn btn-outline-custom" type="submit">Search</button>
      </form>

      <!-- Right-aligned items -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
        </li>
        <% if (!currUser) { %>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/signup"><b>Sign-up</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><b>Login</b></a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
